.CodeMirror 
    height auto
.bg-danger
	background-color #f2dede
	color #333
	padding: 5px
.bg-success
	background-color #2ECC40
	color #fff
	padding 5px
// 分析样式
.bg-analysis
	background-color #d9edf7
	color #333
	padding: 5px

.section
	margin 15px
	padding 10px
	border 2px solid #fbb3

span

	&.code
		background-color #333
		color #fff
		margin 10px		
	&.info	
		background-color #337ab7
		color #fff
	&.special
		background-color #FF695E
		color #fff
		padding 3px 5px
	    border-radius 5px
	&.deficiency
		background-color #ccc
		color #fff
		padding 3px 5px
	    border-radius 5px



